.header{
  max-width: 1440px;
  width: 100vw;
  margin: 0 auto;
  height: 102px;
  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 28px;
    margin-top: 28px;
    .left {
      width: 70px;
      height: 92px;
      margin-left: 112px;
      margin-right:79px;
      cursor: pointer;
    }
    .right {
      width: 879px;
      height: 46px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .text{
        margin-right: 40px;
        color: #E75624;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }
      .buttons{
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 100px;
        width: 171px;
        height: 46px;
        padding: 13px 20px;
        background: #E75624;
        border: 1px solid #E75624;
        border-radius: 100px;
        color: white;
        cursor: pointer;
      }
      .tel {
        width: 171px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        background: transparent;
        border: 1px solid #E75624;
        color: white;
        text-decoration: none;
      }
    }
    .item{
      display: flex;
      align-items: center;
      font-size: 22px;
    }
  }
}
.dropbtn {
  background: transparent;
  color: #E75624;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right:40px;
}

.dropdown-content {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 220px;
  height: 249px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  .formations {
    font-family: 'Readex Pro';
    font-style: normal;
    display:flex;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: #F7CF0D;
    color: #E75624;
    border: none;
  }
}

.dropdown-content a {
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #E75624;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid #E75624;
  margin-top: 10px;
}


@media screen and (max-width: 1660px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .header .wrapper {
    margin-left: 190px;
  }
}

@media screen and (max-width: 768px) {
  .header .wrapper {
    margin-left: 260px;
  }
  .header .wrapper .right .buttons {
    width: 0px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .wrapper .right .tel{
    overflow: hidden;
    border: none;
  }
  .header .wrapper .right .buttons {
    cursor: pointer;
  }
  .dropbtn {
    font-size:14px;
    padding: 40px;
  }
  .header .wrapper .left {
    width: 0px;
  }
}
@media screen and (max-width: 414px) {
  .header .wrapper {
    margin-left: 150px;
  }
  .wrapper{
    width: 410px;
  }
  .dropbtn {
    font-size:12px;
    padding: 0px;
  }
  .dropdown{
    margin-right: 25px;
  }
  .logo{
    width: 0px;
    height:0px;
    margin-right: 20px;
  }
  
}
@media screen and (max-width: 375px) {
  .logo {
    width: 0px;
    height: 0px;
  }
  .header .wrapper {
    padding-left: 80px;
  }
  .footer .open-modal-btn {
    position: absolute;
    left: 139px;
    width: 101px;
  }
}
@media screen and (max-width: 320px) {
  
}