.questions{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  .left {
    margin: 112.5px 0px 112.5px 0px;
    .question{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000000;
    }
  } 
  .subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #999999;
  }
  .right {
    width: 590px;
    height: 520px;
    margin:40px 111px 40px 136px;
  }
}