.questions{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  .wrap {
    display: flex;
    justify-content: space-around;
  }
  .left {
    margin: 112.5px 0px 112.5px 0px;
    .question{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000000;
    }
  } 
  .subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #999999;
  }
  .right {
    width: 590px;
    height: 520px;
    margin:40px 111px 40px 136px;
  }
}
@media screen and (max-width: 1660px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .questions .left {
    margin: 112.5px 0px 112.5px 85px;
}
}
@media screen and (max-width: 1366px) {
  
}
@media screen and (max-width: 1280px) {
  .questions .right {
    width: 470px;
  }
}
@media screen and (max-width: 1024px) {
  .questions .right {
    width: 165px;
  }
}
@media screen and (max-width: 768px) {
  .questions .right {
    width: 0px;
  }
  .questions .left {
    margin: 50px 10px 50px 30px;
  }
}
@media screen and (max-width: 560px) {
  
}
@media screen and (max-width: 480px) {
  .right{
    width: 200px;
  }
}
@media screen and (max-width: 414px) {
  .questions {
    display: block;
    .left{
      width: 400px;
      margin-left: 200px;
    }
    .right{
      width: 0px;
    }
  }
  .image{
    width: 0px;
    cursor: pointer;
    margin-left: 83px;
    }
  }

@media screen and (max-width: 375px) {
  .image{
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  
}